# Noevim exclusion
/neovim/lazy-lock.json

# Neovim spell checker dictionary
/neovim/spell/*
# Neovim undo directory
/neovim/undodir/*

# Tmux plugins
/tmux/plugins/*

# Oh-My-Zsh local changes
/zsh/oh-my-zsh/*
