# Noevim exclusion
/nvim/lazy-lock.json

# Neovim spell checker dictionary
/nvim/spell/*
# Neovim undo directory
/nvim/undodir/*

# Tmux plugins
/tmux/plugins/*

# ZSH History
/zsh/zsh_history
# Antidote [ZSH Plugin Manager]
/zsh/plugins.zsh
